body{
    font-size: 20px;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d8d8d8;
    color: #4a4a4a;
    width: 100%;

}

/* Header */

.header{
    background-color: white;
    width: 100%;
    display: block;
    height: 64px;
    padding: auto 24px;
    margin-top: 0;
}

.logo{
float:left;
display: flex;
justify-content: space-between;
align-items: left;
margin-left: 24px;

}

#Colmar{
    color: #4a4a4a;
    font-size:32px;
    font-weight: 800;
   

}

#Academy{
    color: #d8d8d8;
    font-size:32px;
    font-weight: 400;
}


nav ul li{
    display: inline-block;
    padding: 16px;
    margin-right: 24px;
    font-size:25px;
    margin-top: 0;
    float: right;
    text-decoration: none;

}

nav ul a{
    text-decoration: none;
    color:#4a4a4a;
}